<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.auth.dao.GroupDAO">

	<resultMap type="Group" id="groupResultMap">  
        <id property="id" column="ID"/>  
        <result property="name" column="NAME"/>
        <result property="identity" column="IDENTITY"/> 
        <result property="desc" column="DESCRIPTION"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
    </resultMap>
    
    <sql id="columnClause">ID, NAME, IDENTITY, DESCRIPTION, DELETE_FLAG</sql>
    
    <sql id="whereClause">
    	<where>
    		<if test="condition.name != null">
    			AND NAME = #{condition.name}
    		</if>
    		<if test="condition.identity != null">
    			AND IDENTITY = #{condition.identity}
    		</if>
    		<if test="condition.desc != null">
    			AND DESCRIPTION = #{condition.desc}
    		</if>
    		<if test="condition.deleteFlag != null">
    			AND DELETE_FLAG = #{condition.deleteFlag}
    		</if>
    	</where>
    </sql>
    
     <insert id="insert" parameterType="Group">
            INSERT INTO T_GROUP(NAME, IDENTITY, DESCRIPTION, DELETE_FLAG) 
            VALUES(#{name},#{identity},#{desc},#{deleteFlag})  
    </insert>
    
    <select id="readDataByPK" resultMap="groupResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_GROUP WHERE ID = #{id}
    </select>
    
    <select id="readDataByCondition" resultMap="groupResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_ROLE
            <include refid="whereClause"/>
    </select>
    
    <select id="readDataListByCondition" resultMap="groupResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_GROUP
            <include refid="whereClause"/>
    </select>
    
    <select id="readDataPaginationByCondition" resultMap="groupResultMap">  
        <![CDATA[ 
            SELECT * FROM T_GROUP
        ]]>   
    </select>
    
    <select id="readDataListByUserId" parameterType="Long" resultMap="groupResultMap">  
            SELECT r.* FROM T_GROUP r, T_USER_GROUP ur WHERE r.ID = ur.GROUP_ID AND ur.USER_ID = #{userId};
    </select>
    
</mapper>