<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.auth.dao.AccessUserControlDAO">

	<resultMap type="AccessUserControl" id="accessUserControlResultMap">  
        <result property="account" column="ACCOUNT"/>
        <result property="count" column="COUNT"/> 
        <result property="remainingCount" column="REMAINING_COUNT"/> 
        <result property="money" column="MONEY"/> 
        <result property="remainingMoney" column="REMAINING_MONEY"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
    </resultMap>
    
    <sql id="columnClause">ACCOUNT, COUNT, REMAINING_COUNT, MONEY, REMAINING_MONEY, DELETE_FLAG</sql>
    
    <sql id="whereClause">
    	<where>
    		<if test="condition.account != null and condition.account != ''">
    			AND ACCOUNT = #{condition.account}
    		</if>
    		<if test="condition.deleteFlag != null">
    			AND DELETE_FLAG = #{condition.deleteFlag}
    		</if>
    	</where>
    </sql>
    
    <insert id="insert" parameterType="AccessUserControl">
        INSERT INTO T_ACCESS_USER_CONTROL(ACCOUNT, COUNT, REMAINING_COUNT, DELETE_FLAG) 
        VALUES(#{account},#{count},#{remainingCount},#{deleteFlag}) 
    </insert>
    
    <update id="update" parameterType="AccessUserControl">
    	UPDATE T_ACCESS_USER_CONTROL
    	<if test="remainingCount != null">
   			REMAINING_COUNT = #{remainingCount}
   		</if>
   		<if test="remainingMoney != null">
   			REMAINING_MONEY = #{remainingMoney}
   		</if>
    	WHERE ACCOUNT = #{account}
    </update>
    
    <update id="updateRemainingCount" parameterType="AccessUserControl">
   		UPDATE T_ACCESS_USER_CONTROL SET REMAINING_COUNT = #{remainingCount} WHERE ACCOUNT = #{account}
    </update>
    
    <update id="updateRemainingMoney" parameterType="AccessUserControl">
   		UPDATE T_ACCESS_USER_CONTROL SET REMAINING_MONEY = #{remainingMoney} WHERE ACCOUNT = #{account}
    </update>
    
    <select id="readDataByPK" resultMap="accessUserControlResultMap">  
        SELECT 
        <include refid="columnClause"/>
        FROM T_ACCESS_USER_CONTROL WHERE ID = #{id}
    </select>
    
    <select id="readDataByCondition" resultMap="accessUserControlResultMap">  
        SELECT 
        <include refid="columnClause"/>
        FROM T_ACCESS_USER_CONTROL
        <include refid="whereClause"/>
    </select>
    
    <select id="readDataListByCondition" resultMap="accessUserControlResultMap">  
        SELECT 
        <include refid="columnClause"/>
        FROM T_ACCESS_USER_CONTROL
        <include refid="whereClause"/>
    </select>
    
    <select id="readDataPaginationByCondition" resultMap="accessUserControlResultMap">  
        <![CDATA[ 
            SELECT * FROM T_ACCESS_USER_CONTROL
        ]]>   
    </select>
   
</mapper>