<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cisiondata.modules.elasticsearch.dao.LMDataDAO" >
  <resultMap id="LMDataResultMap" type="org.cisiondata.modules.elasticsearch.entity.LMData" >
    <id column="ID" property="id" />
    <result column="LMKEY" property="lmKey" />
    <result column="QUERYDATA" property="queryData"  />
    <result column="QUERYTIME" property="queryTime" />
  </resultMap>
  <!-- 添加 -->
  <insert id="insert" parameterType="org.cisiondata.modules.elasticsearch.entity.LMData" >
    insert into T_LMDATA (LMKEY, QUERYDATA, QUERYTIME)
    	values (#{lmKey}, #{queryData}, #{queryTime})
  </insert>
</mapper>