<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.datainterface.dao.AccessUserInterfaceDAO">

	<resultMap type="org.cisiondata.modules.datainterface.entity.AccessUserInterface" id="UserInterfaceResultMap">
        <result property="id" column="ID"/>
        <result property="account" column="ACCOUNT"/>
        <result property="interfaceId" column="INTERFACE_ID"/>
        <result property="chargeFlag" column="CHARGE_FLAG"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
    <association property="inter_id" javaType="org.cisiondata.modules.datainterface.entity.AccessInterface">
        <result property="url" column="URL"/> 
        <result property="identity" column="IDENTITY"/> 
        <result property="money" column="MONEY"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/>
    </association>
    </resultMap>
   <!-- 统计数据数据量的多少 -->
   <select id="contun" resultType="int">
   		select COUNT(ID) from T_ACCESS_USER_INTERFACE where DELETE_FLAG=0;
   </select>
   <!--分页查询数据-->
   <select id="Pagination" resultMap="UserInterfaceResultMap">
   		select T_ACCESS_USER_INTERFACE.ID,T_ACCESS_USER_INTERFACE.ACCOUNT,T_ACCESS_USER_INTERFACE.INTERFACE_ID,T_ACCESS_USER_INTERFACE.CHARGE_FLAG,T_ACCESS_INTERFACE.IDENTITY from T_ACCESS_USER_INTERFACE,T_ACCESS_INTERFACE WHERE T_ACCESS_USER_INTERFACE.INTERFACE_ID=T_ACCESS_INTERFACE.ID AND T_ACCESS_USER_INTERFACE.DELETE_FLAG=0 limit #{0},#{1};
   </select>
   <!-- id查询数据  -->
   <select id="QueryId" parameterType="long" resultMap="UserInterfaceResultMap">
   		select ID,ACCOUNT,INTERFACE_ID,CHARGE_FLAG from T_ACCESS_USER_INTERFACE where ID=#{id};
   </select>
   <!-- 修改状态 -->
   <update id="Revamp">
   		UPDATE T_ACCESS_USER_INTERFACE set CHARGE_FLAG=#{0} where ID=#{1} AND DELETE_FLAG=0;
   </update>
   <!--删除用户  -->
   <update id="RemoveUser">
   		UPDate T_ACCESS_USER_INTERFACE set DELETE_FLAG=1 where ID=#{0} AND  DELETE_FLAG=0;
   </update>
   <!--增加用户  -->
   <insert id="addUserAccount"  parameterType="org.cisiondata.modules.datainterface.entity.AccessUserInterface" useGeneratedKeys="true" keyProperty="id">
   		insert into T_ACCESS_USER_INTERFACE (ACCOUNT,INTERFACE_ID,CHARGE_FLAG,DELETE_FLAG) values(#{account},#{interfaceId},#{chargeFlag},0);
   </insert>
   <!--批量增加用户接口 -->
   <insert id="">
   		insert into T_ACCESS_USER_INTERFACE(ACCOUNT,INTERFACE_ID,CHARGE_FLAG,DELETE_FLAG) values(#{0},#{1},1,0);
   </insert>
   <!--查询ID -->
   <select id="countId" parameterType="long" resultMap="UserInterfaceResultMap">
   		select ID from T_ACCESS_USER_INTERFACE where ACCOUNT=#{0};
   </select>
</mapper>