@CHARSET "UTF-8";

#results{
	margin-left: 20px;
}
#resultsQQ{
	margin-left: 20px;
	margin-top: 10px;
}
.styleTitleOne{
	font-size: 14px;
	border: 1px solid #f8f8f8;
	height: 40px;
	width: 100%;
	line-height:40px;
	text-align:center;
	border-radius: 2px;
	background-color: #f8f8f8;
}
.ss{
	font-size: 12px;
	color: red;
}
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 20%;
	width: 60%;
	height: 60%;
	padding: 16px;
	border: 5px solid orange;
	border-radius: 10px;
	background-color: white;
	z-index: 1002;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(25, 147, 147, 0.2);
}



.table {
	margin-top: 24px;
}

.styleA {
	float: right;
	font-size: 16px;
}

.styleTitle {
	font-size: 20px;
	padding-left: 48%;
	font-family: '宋体';
	text-align: center;
}
