<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.user.dao.AdminUserDAO">

	<resultMap type="org.cisiondata.modules.user.entity.AdminUser" id="AdminUserModelMap">
		<id property="id" column="ID"/>
		<result column="ACCOUNT" property="account"/>
		<result column="PASSWORD" property="password"/>
		<result column="IDENTITY" property="identity"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="SALT" property="salt"/>
		<result column="MOBILE_PHONE" property="mobilePhone"/>
		<result column="DELETE_FLAG" property="deleteFlag"/>
	</resultMap>
	
	<!-- 查询 -->
	<select id="findByCondition" parameterType="map" resultMap="AdminUserModelMap">
		select ID,ACCOUNT,PASSWORD,IDENTITY,NICK_NAME,SALT,MOBILE_PHONE,DELETE_FLAG from T_ADMIN_USER 
		<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="account != null and account != ''">and ACCOUNT=#{account}</if>
    		<!--  
    		<if test="password != null and password != ''">and PASSWORD=#{password}</if>
    		-->
    		<if test="identity != null and identity != ''">and IDENTITY=#{identity}</if>
    		<if test="nickName != null and nickName != ''">and NICK_NAME=#{nickName}</if>
    		<if test="salt != null and salt != ''">and SALT=#{salt}</if>
    		<if test="mobilePhone != null and mobilePhone != ''">and MOBILE_PHONE=#{mobilePhone}</if>
    		<if test="deleteFlag != null">and DELETE_FLAG=#{deleteFlag}</if>
    	</where>
    	<if test="orderBy != null and orderBy != ''">
    		order by ${orderBy}
    	</if>
    	<if test="begin != null and pageSize != null">
    		limit #{begin},#{pageSize}
    	</if>
	</select>
	<!-- 查询总条数 -->
	<select id="findCountByCondition" parameterType="map" resultType="int">
		select COUNT(ID) from T_ADMIN_USER
		<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="account != null and account != ''">and ACCOUNT=#{account}</if>
    		<!--  
    		<if test="password != null and password != ''">and PASSWORD=#{password}</if>
    		-->
    		<if test="identity != null and identity != ''">and IDENTITY=#{identity}</if>
    		<if test="nickName != null and nickName != ''">and NICK_NAME=#{nickName}</if>
    		<if test="salt != null and salt != ''">and SALT=#{salt}</if>
    		<if test="mobilePhone != null and mobilePhone != ''">and MOBILE_PHONE=#{mobilePhone}</if>
    		<if test="deleteFlag != null">and DELETE_FLAG=#{deleteFlag}</if>
    	</where>
	</select>
	
	<!-- 根据id修改 -->
	<update id="updateAdminUserById" parameterType="org.cisiondata.modules.user.entity.AdminUser">
	   	update T_ADMIN_USER 
   		<set>
    		<if test="account != null and account != ''">ACCOUNT=#{account},</if>
    		<if test="password != null and password != ''">PASSWORD=#{password},</if>
    		<if test="identity != null and identity != ''">IDENTITY=#{identity},</if>
    		<if test="nickName != null and nickName != ''">NICK_NAME=#{nickName},</if>
    		<if test="salt != null and salt != ''">SALT=#{salt},</if>
    		<if test="mobilePhone != null and mobilePhone != ''">MOBILE_PHONE=#{mobilePhone},</if>
    		<if test="deleteFlag != null">DELETE_FLAG=#{deleteFlag}</if>
   		</set>
	   	WHERE ID=#{id}
	</update>
	
	<!-- 新增，新增成功后返回id值 -->
	<insert id="addAdminUser" parameterType="org.cisiondata.modules.user.entity.AdminUser" useGeneratedKeys="true" keyProperty="id">
		insert into T_ADMIN_USER
		(ACCOUNT,PASSWORD,IDENTITY,NICK_NAME,SALT,MOBILE_PHONE,DELETE_FLAG)
		values
		(#{account},#{password},#{identity},#{nickName},#{salt},#{mobilePhone},#{deleteFlag})
	</insert>
	<!--根据id删除  -->
	<update id="deleteAdminUserById" parameterType="org.cisiondata.modules.user.entity.AdminUser">
		 	update T_ADMIN_USER set DELETE_FLAG=1 where id=#{id}
	</update>	
</mapper>