<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.user.dao.RoleUserDAO">

	<resultMap type="org.cisiondata.modules.user.entity.ARoleUser"
		id="roleResultMap">
		<id property="Roleid" column="ID" />
		<result property="name" column="NAME" />
		<result property="identity" column="IDENTITY" />
		<result property="desc" column="DESCRIPTION" />
		<result property="deleteFlag" column="DELETE_FLAG" />
	</resultMap>
	<!-- 中间表 -->
	<resultMap type="org.cisiondata.modules.user.entity.AUserRole"
		id="roleUserMap">
		<result property="auserId" column="USER_ID" />
		<result property="aroleId" column="ROLE_ID" />
		<result property="priority" column="PRIORITY" />
	</resultMap>
	<!-- 新增角色 -->
	<insert id="addRole" parameterType="org.cisiondata.modules.user.entity.ARoleUser">
		INSERT INTO
		T_ROLE(NAME,IDENTITY,DESCRIPTION,DELETE_FLAG) VALUES
		(#{name},#{identity},#{desc},#{deleteFlag})
	</insert>
	<!-- 查询角色是否存在 -->
	<select id="selRoleByName" parameterType="String" resultType="int">
		SELECT count(*) FROM T_ROLE WHERE NAME = #{name} AND IDENTITY = 3
	</select>
	<!-- 查询所有角色 -->
	<select id="selRole" resultMap="roleResultMap">
		SELECT * FROM T_ROLE WHERE
		IDENTITY = 3
	</select>
	<!-- 分页查询所有角色 -->
	<select id="selRoleByPage" resultMap="roleResultMap">
		SELECT * FROM T_ROLE WHERE
		IDENTITY = 3 LIMIT #{0},#{1}
	</select>
	<!-- 删除角色 -->
	<update id="updateRoleByFlag">
		UPDATE T_ROLE SET
		DELETE_FLAG = 1 WHERE ID = #{id} AND IDENTITY = 3
	</update>
	<update id="updateRoleFlag">
		UPDATE T_ROLE SET
		DELETE_FLAG = 0 WHERE ID = #{id} AND IDENTITY = 3
	</update>
	<!-- 修改角色 -->
	<update id="updateRole" parameterType="map">
		UPDATE T_ROLE SET
		<if test="name != null and name != ''">NAME=#{name},</if>
		<if test="identity != null and identity != ''">IDENTITY=#{identity},</if> 
		<if test="desc != null and desc != ''">DESCRIPTION=#{desc}</if>
		WHERE ID = #{id}
	</update>
	<!--角色添加用户 -->
	<insert id="addUserRoles" parameterType="List">
		INSERT INTO T_USER_ROLE(USER_ID, ROLE_ID,PRIORITY)
		VALUES
		<foreach collection="list" index="index" item="item"
			separator=",">
			(#{item.auserId},#{item.aroleId},#{item.priority})
		</foreach>
	</insert>
	<!--角色删除用户 -->
	<delete id="deleteserRoles">
		DELETE FROM T_USER_ROLE WHERE ROLE_ID =#{id} and PRIORITY= #{priority}
	</delete>
	<!--根据id查询  -->
	<select id="findAllbyId" resultMap="roleUserMap">
		select * from T_USER_ROLE where ROLE_ID=#{id}
	</select>
	<!-- API角色 -->
	<!-- 查询API角色是否存在 -->
	<select id="selApiRoleByName" parameterType="String" resultType="int">
		SELECT count(*) FROM T_ROLE WHERE NAME = #{name} AND IDENTITY = 5
	</select>
	<!-- 查询所有API角色 -->
	<select id="selApiRole" resultMap="roleResultMap">
		SELECT * FROM T_ROLE WHERE
		IDENTITY = 5
	</select>
	<!-- 分页查询所有API角色 -->
	<select id="selApiRoleByPage" resultMap="roleResultMap">
		SELECT * FROM T_ROLE WHERE
		IDENTITY = 5 LIMIT #{0},#{1}
	</select>
	<!-- 删除API角色 -->
	<update id="updateApiRoleByFlag" >
		UPDATE T_ROLE SET
		DELETE_FLAG = 1 WHERE ID = #{id} AND IDENTITY = 5
	</update>
	<update id="updateApiRoleFlag" >
		UPDATE T_ROLE SET
		DELETE_FLAG = 0 WHERE ID = #{id} AND IDENTITY = 5
	</update>
	<!-- 修改API角色 -->
	<update id="updateApiRole" parameterType="map">
		UPDATE T_ROLE SET
		<if test="name != null and name != ''">NAME=#{name},</if>
		<if test="identity != null and identity != ''">IDENTITY=#{identity},</if>
		<if test="desc != null and desc != ''">DESCRIPTION=#{desc}</if>
		WHERE ID = #{id}
	</update>
	<!-- 根据id和identity查询角色 -->
	<select id="findIdinentity" parameterType="map" resultType="string">
		SELECT `NAME` FROM `T_ROLE` where ID=#{id} and IDENTITY=#{identity}
	</select>
	
	<!-- 警友通 -->
	<!-- 查询JYT角色是否存在 -->
	<select id="selJYTRoleByName" parameterType="String" resultType="int">
		SELECT count(*) FROM T_ROLE WHERE NAME = #{name} AND IDENTITY = 6
	</select>
	<!-- 查询所有JYT角色 -->
	<select id="selJYTRole" resultMap="roleResultMap">
		SELECT * FROM T_ROLE WHERE
		IDENTITY = 6
	</select>
	<!-- 分页查询所有JYT角色 -->
	<select id="selJYTRoleByPage" resultMap="roleResultMap">
		SELECT * FROM T_ROLE WHERE
		IDENTITY = 6 LIMIT #{0},#{1}
	</select>
	<!-- 删除JYT角色 -->
	<update id="updateJYTRoleByFlag">
		UPDATE T_ROLE SET
		DELETE_FLAG = 1 WHERE ID = #{id} AND IDENTITY = 6
	</update>
	<update id="updateJYTRoleFlag">
		UPDATE T_ROLE SET
		DELETE_FLAG = 0 WHERE ID = #{id} AND IDENTITY = 6
	</update>
	<!-- 修改JYT角色 -->
	<update id="updateJYTRole" parameterType="map">
		UPDATE T_ROLE SET
		<if test="name != null and name != ''">NAME=#{name},</if>
		<if test="identity != null and identity != ''">IDENTITY=#{identity},</if>
		<if test="desc != null and desc != ''">DESCRIPTION=#{desc}</if>
		WHERE ID = #{id}
	</update>
</mapper>