<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.user.dao.ResourceDAO">

	<resultMap type="org.cisiondata.modules.auth.entity.Resource" id="AResourceModelMap">
		<id property="id" column="ID"/>
		<result column="NAME" property="name"/>
		<result column="TYPE" property="type"/>
		<result column="IDENTITY" property="identity"/>
		<result column="URL" property="url"/>
		<result column="ICON" property="icon"/>
		<result column="PRIORITY" property="priority"/>
		<result column="PARENT_ID" property="parentId"/>
		<result column="DELETE_FLAG" property="deleteFlag"/>
	</resultMap>
	
	<!-- 查询 -->
	<select id="findByCondition" parameterType="map" resultMap="AResourceModelMap">
		select * from T_RESOURCE 
		<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="name != null and name != ''">and NAME=#{name}</if>
    		<if test="type != null">and TYPE=#{type}</if>
    		<if test="identity != null and identity != ''">and IDENTITY=#{identity}</if>
    		<if test="url != null and url != ''">and URL=#{url}</if>
    		<if test="icon != null and icon != ''">and ICON=#{icon}</if>
    		<if test="priority != null">and PRIORITY=#{priority}</if>
    		<if test="parentId != null">and PARENT_ID=#{parentId}</if>
    		<if test="deleteFlag != null">and DELETE_FLAG=#{deleteFlag}</if>
    	</where>
    	<if test="orderBy != null and orderBy != ''">
    		order by ${orderBy}  DESC
    	</if>
    	<if test="begin != null and pageSize != null">
    		limit #{begin},#{pageSize}
    	</if>
	</select>
	<!-- 查询总条数 -->
	<select id="findCountByCondition" parameterType="map" resultType="int">
		select COUNT(ID) from T_RESOURCE
		<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="name != null and name != ''">and NAME=#{name}</if>
    		<if test="type != null">and TYPE=#{type}</if>
    		<if test="identity != null and identity != ''">and IDENTITY=#{identity}</if>
    		<if test="url != null and url != ''">and URL=#{url}</if>
    		<if test="icon != null and icon != ''">and ICON=#{icon}</if>
    		<if test="priority != null">and PRIORITY=#{priority}</if>
    		<if test="parentId != null">and PARENT_ID=#{parentId}</if>
    		<if test="deleteFlag != null">and DELETE_FLAG=#{deleteFlag}</if>
    	</where>
	</select>
	
	<!-- 根据id修改 -->
	<update id="updateResourceById" parameterType="org.cisiondata.modules.auth.entity.Resource">
	   	update T_RESOURCE 
   		<set>
    		<if test="name != null and name != ''">NAME=#{name},</if>
    		<if test="type != null">TYPE=#{type},</if>
    		<if test="identity != null and identity != ''">IDENTITY=#{identity},</if>
    		<if test="url != null and url != ''">URL=#{url},</if>
    		<if test="icon != null and icon != ''">ICON=#{icon},</if>
    		<if test="priority != null">PRIORITY=#{priority},</if>
    		<if test="parentId != null">PARENT_ID=#{parentId},</if>
    		<if test="deleteFlag != null">DELETE_FLAG=#{deleteFlag}</if>
   		</set>
	   	WHERE ID=#{id}
	</update>
	
	<!-- 新增，新增成功后返回id值 -->
	<insert id="addResource" parameterType="org.cisiondata.modules.auth.entity.Resource" useGeneratedKeys="true" keyProperty="id">
		insert into T_RESOURCE
		(NAME,TYPE,IDENTITY,URL,ICON,PRIORITY,PARENT_ID,DELETE_FLAG)
		values
		(#{name},#{type},#{identity},#{url},#{icon},#{priority},#{parentId},#{deleteFlag})
	</insert>
	
</mapper>