<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.user.dao.UserRestrictionDAO">

	<resultMap type="org.cisiondata.modules.auth.entity.UserRestriction" id="AUserRestrictionModelMap">
		<id property="id" column="ID"/>
		<result column="USER_ID" property="userId"/>
		<result column="RESTRICT_TYPE" property="restrictType" javaType="int"/>
		<result column="RESTRICT_COUNT" property="restrictCount"/>
	</resultMap>
	
	<!-- 查询 -->
	<select id="findByCondition" parameterType="map" resultMap="AUserRestrictionModelMap">
		select * from T_USER_RESTRICTION 
		<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="userId != null">and USER_ID=#{userId}</if>
    		<if test="restrictType != null">and RESTRICT_TYPE=#{restrictType}</if>
    		<if test="restrictCount != null">and RESTRICT_COUNT=#{restrictCount}</if>
    	</where>
    	<if test="orderBy != null and prderBy != ''">
    		order by ${orderBy}
    	</if>
    	<if test="begin != null and pageSize != null">
    		limit #{begin},#{pageSize}
    	</if>
	</select>
	
	<!-- 根据id修改 -->
	<update id="updateUserRestrictionById" parameterType="org.cisiondata.modules.auth.entity.UserRestriction">
	   	update T_USER_RESTRICTION 
   		<set>
    		<if test="userId != null">USER_ID=#{userId},</if>
    		<if test="restrictType != null">RESTRICT_TYPE=#{restrictType},</if>
    		<if test="restrictCount != null">RESTRICT_COUNT=#{restrictCount}</if>
   		</set>
	   	WHERE ID=#{id}
	</update>
	
	<!-- 新增，新增成功后返回id值 -->
	<insert id="addUserRestriction" parameterType="org.cisiondata.modules.auth.entity.UserRestriction" useGeneratedKeys="true" keyProperty="id">
		insert into T_USER_RESTRICTION
		(USER_ID,RESTRICT_TYPE,RESTRICT_COUNT)
		values
		(#{userId},#{restrictType},#{restrictCount})
	</insert>
	
</mapper>