.headline{
	position: absolute;
	width: 800px;
	height: 40px;
	left: 41%;
	top: 16%;
	font-family:"Arial","宋体",sans-serif;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	margin-left: -200px;
	margin-top: -100px;
}
.main{ 
	position: absolute;
	width: auto;
	height: 600px;
	left: 24%;
	top: 25%;
	margin-left: -200px;
	margin-top: -100px;
	border: 1px  solid #F5FFFA;
	
}
#addUser{
	position: absolute;
	width: 1200px;
	height: 40px;
	left: 41%;
	top: 21%;
	font-family:"Arial","宋体",sans-serif;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	margin-left: -200px;
	margin-top: -100px;
}
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}
.updata{
	display: none;
	position: absolute;
	top: 5%;
	left: 21%;
	width: 60%;
	height: 55%;
	padding: 16px;
	border: 1px solid orange;
	border-radius: 10px;
	background-color: white;
	z-index: 1002;
	overflow-y: auto; 
	text-align: center;
	font-family:"Arial","宋体",sans-serif;
	text-align:center;
	font-weight:bold;
	font-size:15px;
}
#center{
	margin:0 auto;   
    width:400px;   
}
.addUser_face{
	display: none;
	position: absolute;
	top: 5%;
	left: 21%;
	width: 60%;
	height: 55%;
	padding: 16px;
	border: 1px solid orange;
	border-radius: 10px;
	background-color: white;
	z-index: 1002;
	overflow-y: auto; 
	text-align: center;
	font-family:"Arial","宋体",sans-serif;
	text-align:center;
	font-weight:bold;
	font-size:15px;
}