<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.user.dao.AccessUserInterfaceDAO">

	<resultMap type="org.cisiondata.modules.user.entity.AccessUserInterface" id="UserInterfaceResultMap">
        <result property="id" column="ID"/>
        <result property="account" column="ACCOUNT"/>
        <result property="interfaceId" column="INTERFACE_ID"/>
        <result property="chargeFlag" column="CHARGE_FLAG"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
        <result property="fields" column="FIELDS"/>
    </resultMap>
	    
	<!-- 根据条件查询 -->
	<select id="findByConditions" parameterType="org.cisiondata.modules.user.entity.AccessUserInterface" resultMap="UserInterfaceResultMap">
		select ID,ACCOUNT,INTERFACE_ID,CHARGE_FLAG,DELETE_FLAG,FIELDS from T_ACCESS_USER_INTERFACE
		<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="account != null">and ACCOUNT=#{account}</if>
    		<if test="interfaceId != null">and INTERFACE_ID=#{interfaceId}</if>
    		<if test="deleteFlag != null">and DELETE_FLAG=#{deleteFlag}</if>
    	</where>
	</select>
</mapper>