<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="org.cisiondata.modules.user.dao.AccessInterfaceDAO">

	<resultMap type="org.cisiondata.modules.user.entity.AccessInterface" id="AccessInterfacetMap">  
        <result property="id" column="ID"/>
        <result property="url" column="URL"/> 
        <result property="identity" column="IDENTITY"/> 
        <result property="money" column="MONEY"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
        <result property="parameters" column="PARAMETERS"/> 
        <result property="fields" column="FIELDS"/> 
    </resultMap>
    
    
    <select id="findByConditions" parameterType="org.cisiondata.modules.user.entity.AccessInterface" resultMap="AccessInterfacetMap">
    	select ID,URL,IDENTITY,MONEY,DELETE_FLAG,PARAMETERS,FIELDS from T_ACCESS_INTERFACE 
    	<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="url != null">and URL=#{url}</if>
    		<if test="identity != null">and IDENTITY=#{identity}</if>
    		<if test="money != null">and MONEY=#{money}</if>
    		<if test="deleteFlag != null">and DELETE_FLAG=#{deleteFlag}</if>
    	</where>
    </select>

</mapper>