<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.user.dao.UserDAO">

	<resultMap type="AUser" id="UserModelsMap">
		<id  column="ID" property="id"/>
		<result column="ACCOUNT" property="account"/>
		<result column="PASSWORD" property="password"/>
		<result column="IDENTITY" property="identity"/>
		<result column="NICK_NAME" property="nickname"/>
		<result column="EMAIL" property="email"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="EXPIRE_TIME" property="expireTime"/>
		<result column="DELETE_FLAG" property="deleteFlag"/>
		<result column="SALT" property="salt"/>
		<result column="REAL_NAME" property="realName"/>
		<result column="ID_CARD" property="idCard"/>
		<result column="MOBILE_PHONE" property="mobilePhone"/>
		<result column="MAC_ADDRESS" property="macAddress"/>
	</resultMap>
	
	<resultMap type="org.cisiondata.modules.user.entity.Security" id="SecurityModelMap">
		<id  column="ID" property="id"/>
		<result column="SECURITY_QUESTION" property="securityQuestion"/>
		<result column="DELETE_FLAG" property="deleteFlag"/>
	</resultMap>
	
	<resultMap type="org.cisiondata.modules.auth.entity.UserAttribute" id="userAttributeModelMap">
		<id  column="ID" property="id"/>
		<id  column="USER_ID" property="userId"/>
		<result column="KEY" property="key"/>
		<result column="VALUE" property="value"/>
		<result column="TYPE" property="type"/>
	</resultMap>
	<!--  查询密保问题  -->
	<select id="findSecurity" resultMap="SecurityModelMap">
		SELECT * FROM T_SECURITY WHERE DELETE_FLAG = 0
	</select>
	<!-- 
	 <sql id="columnClause">ID,ACCOUNT, PASSWORD, IDENTITY, NICK_NAME, EMAIL,STATUS,CREATE_TIME,EXPIRE_TIME,DELETE_FLAG,
	 		SALT,REAL_NAME,ID_CARD,MOBILE_PHONE,QUESTION,ANSWER,MAC_ADDRESS,FIRST_LOGIN_FLAG</sql>
	
	 <sql id="columnClause">#{account},#{ password},#{ identity},#{ nickname},#{ email},#{status},#{createTime},#{expireTime},#{deleteFlag},
	 #{salt},#{realName},#{idCard},#{mobilePhone},#{question},#{answer},#{macAddress},#{firstLoginFlag}</sql>
	 
	<insert id="addUser" parameterType="AUser">
		INSERT INTO T_USER_GROUP(ACCOUNT, PASSWORD, IDENTITY, NICK_NAME, EMAIL,STATUS,CREATE_TIME,EXPIRE_TIME,DELETE_FLAG) 
			VALUES(#{account},#{ password},#{ identity},#{ nickname},#{ email},#{status},#{createTime},#{expireTime},#{deleteFlag})
	</insert>
	 -->
	 <!-- 通过账号修改资料 -->
	 <update id="updateUser" parameterType="AUser">
	 	UPDATE T_USER
	 		<set>
	 			<if test="account != null">ACCOUNT=#{account},</if>
	 			<if test="password != null">PASSWORD=#{password},</if>
	 			<if test="identity != null">IDENTITY=#{identity},</if>
	 			<if test="nickname != null">NICK_NAME=#{nickname},</if>
	 			<if test="email != null">EMAIL=#{email},</if>
	 			<if test="status != null">STATUS=#{status},</if>
	 			<if test="createTime != null">CREATE_TIME=#{createTime},</if>
	 			<if test="expireTime != null">EXPIRE_TIME=#{expireTime},</if>
	 			<if test="deleteFlag != null">DELETE_FLAG=#{deleteFlag},</if>
	 			<if test="salt != null">SALT=#{salt},</if>
	 			<if test="realName != null">REAL_NAME=#{realName},</if>
	 			<if test="idCard != null">ID_CARD=#{idCard},</if>
	 			<if test="mobilePhone != null">MOBILE_PHONE=#{mobilePhone},</if>
	 			<if test="macAddress != null">MAC_ADDRESS=#{macAddress},</if>
	 		</set>
	 	WHERE ACCOUNT=#{account}
	 </update>
	 
	 <!--  获取用户密保问题  -->
	<select id="findSecurityQuestion" resultType="string">
		SELECT QUESTION FROM T_USER WHERE ACCOUNT=#{account}
	</select>
	
	 <!--  获取用户密保问题答案  -->
	<select id="findSecurityAnswer" resultType="string">
		SELECT ANSWER FROM T_USER WHERE ACCOUNT=#{account}
	</select>
	 <!--  修改用户各种单一属性  -->
	<update id="editUserAttribute" parameterType="org.cisiondata.modules.auth.entity.UserAttribute">
		UPDATE  T_USER_ATTRIBUTE SET VALUE=#{value} WHERE USER_ID=#{userId} AND KEY=#{key}
	</update>
	
	 <!--  插入用户各种单一属性  -->
	<insert id="addUserAttribute" parameterType="org.cisiondata.modules.auth.entity.UserAttribute">
		INSERT INTO T_USER_ATTRIBUTE (USER_ID,KEY,VALUE,TYPE) VALUE(#{userId},#{key},#{value},#{type})
	</insert>
	
	<!--  获取用户各种单一属性  -->
	<select id="findUserAttribute" resultType="string">
		SELECT VALUE FROM T_USER_ATTRIBUTE WHERE USER_ID=#{userId} AND KEY =#{key} 
	</select>
	
	 <!--  通过账号获取用户信息  -->
	<select id="findUser" resultMap="UserModelsMap">
		SELECT * FROM T_USER WHERE ACCOUNT=#{account}
	</select>
	
	 <!--  通过电话获取用户信息  -->
	<select id="findUserByPhone" resultMap="UserModelsMap">
		SELECT * FROM T_USER WHERE MOBILE_PHONE=#{mobilePhone}
	</select>
	
</mapper>