<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-4.2.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd"
	default-autowire="byName">

	<!-- Jedis Pool Config -->
	<bean name="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig" >
		<property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}" />
		<property name="maxTotal" value="${redis.pool.maxTotal}" />
		<property name="minIdle" value="${redis.pool.minIdle}" />
		<property name="maxIdle" value="${redis.pool.maxIdle}" />
	</bean>
	
    <!-- Jedis Pool -->
    <bean id="shardedJedisPool" class="org.cisiondata.utils.redis.ShardedJedisPoolWrapper">
        <constructor-arg index="0" ref="genericObjectPoolConfig" />
        <constructor-arg index="1" value="${redis.pool.address}" />
    </bean> 
    
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
    	<constructor-arg name="poolConfig" ref="genericObjectPoolConfig" />
        <constructor-arg name="host" value="${redis.pool.host}" />
    	<!--  
    	<constructor-arg name="host" value="${redis.pool.host}" />
    	<constructor-arg name="port" value="${redis.pool.port}" />
    	-->
    </bean>
    
    <!-- Jedis Cluster Configuration -->
    <bean id="jedisCluster" class="org.cisiondata.utils.redis.JedisClusterFactory">
		<property name="addressConfig">
			<value>classpath:filter-${target-env}.properties</value>
		</property>
		<property name="addressKeyPrefix" value="redis.cluster.address" /> 
		<property name="timeout" value="${redis.cluster.timeout}" />
		<property name="maxRedirections" value="${redis.cluster.maxRedirections}" />
		<property name="genericObjectPoolConfig" ref="genericObjectPoolConfig" />
	</bean>
    
</beans>