<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.datainterface.dao.AccessUserControlDao">

	<resultMap type="org.cisiondata.modules.datainterface.entity.AccessUserControl" id="AccessControlResultMap">  
        <result property="account" column="ACCOUNT"/>
        <result property="interfaceUrl" column="INTERFACE_URL"/> 
        <result property="count" column="COUNT"/> 
        <result property="remainingCount" column="REMAINING_COUNT"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
        <result property="money" column="MONEY"/> 
        <result property="remainingMoney" column="REMAINING_MONEY"/> 
        <result property="resource" column="RESOURCE"/> 
        <result property="queryCount" column="QUERY_COUNT"/> 
    </resultMap>
    
    <select id="findAccessControlByAccount" resultMap="AccessControlResultMap">
    	select * from T_ACCESS_USER_CONTROL where ACCOUNT=#{0}
    </select>
    
    <update id="updateAccessControlByAccount" parameterType="org.cisiondata.modules.datainterface.entity.AccessUserControl">
    	update T_ACCESS_USER_CONTROL set COUNT=#{count},REMAINING_COUNT=#{remainingCount} where ACCOUNT=#{account}
    </update>
    <update id="updateMoneyByAccount" parameterType="org.cisiondata.modules.datainterface.entity.AccessUserControl">
    	update T_ACCESS_USER_CONTROL set MONEY=#{money},REMAINING_MONEY=#{remainingMoney} where ACCOUNT=#{account}
    </update>

	<insert id="addAccessUserControl" parameterType="org.cisiondata.modules.datainterface.entity.AccessUserControl">
    	insert into T_ACCESS_USER_CONTROL (ACCOUNT,COUNT,REMAINING_COUNT,MONEY,REMAINING_MONEY,SOURCE)
    	values (#{account},#{count},#{remainingCount},#{money},#{remainingMoney},#{source})
    </insert>
    
    <select id="findAccessControlAll" resultMap="AccessControlResultMap">
    		select ACCOUNT from T_ACCESS_USER_CONTROL where DELETE_FLAG=0
    </select>
    
    <select id="findAccountBySource" resultType="string">
    	select ACCOUNT from T_ACCESS_USER_CONTROL where SOURCE=#{0}
    </select>
	
</mapper>