<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="org.cisiondata.modules.datainterface.dao.AccessUserDAO">

	<resultMap type="org.cisiondata.modules.datainterface.entity.AccessUser" id="AccessUserResultMap">  
        <result property="accessId" column="ACCESS_ID"/>
        <result property="accessKey" column="ACCESS_KEY"/> 
        <result property="name" column="NAME"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
        <result property="applyTime" column="APPLY_TIME" javaType="java.util.Date"/> 
        <association property="accessControl" javaType="org.cisiondata.modules.datainterface.entity.AccessUserControl">
            <result property="account" column="ACCOUNT"/>
            <result property="money" column="MONEY"/>
            <result property="remainingMoney" column="REMAINING_MONEY"/>
            <result property="count" column="COUNT"/>
            <result property="remainingCount" column="REMAINING_COUNT"/>
            <result property="deleteFlag" column="DELETE_FLAG1"/>
         </association>
    </resultMap>
    
    <insert id="addAccessUser" parameterType="org.cisiondata.modules.datainterface.entity.AccessUser">
    	insert into T_ACCESS_USER (ACCESS_ID,ACCESS_KEY,NAME,APPLY_TIME)
    	values (#{accessId},#{accessKey},#{name},#{applyTime})
    </insert>
    <select id="findByName" parameterType="org.cisiondata.modules.datainterface.entity.AccessUser" resultMap="AccessUserResultMap">
    	select * from T_ACCESS_USER where NAME=#{name}
    </select>
    
    <select id="findAccessByPage" resultMap="AccessUserResultMap">
    	SELECT t1.ACCESS_ID ACCESS_ID,t1.ACCESS_KEY ACCESS_KEY,t1.NAME NAME,t1.DELETE_FLAG DELETE_FLAG,t1.APPLY_TIME APPLY_TIME,
    	t2.ACCOUNT ACCOUNT,t2.MONEY MONEY,t2.REMAINING_MONEY REMAINING_MONEY,t2.COUNT COUNT,t2.REMAINING_COUNT REMAINING_COUNT,t2.DELETE_FLAG DELETE_FLAG1
    	from
    	T_ACCESS_USER t1 LEFT JOIN T_ACCESS_USER_CONTROL t2 ON t1.ACCESS_ID=t2.ACCOUNT AND t2.DELETE_FLAG=0 limit #{0},#{1}
    </select>
    
    <select id="findAccessCount" resultType="int">
    	select count(ACCESS_ID) from T_ACCESS_USER
    </select>
    
    <update id="updateDeleteFlag" parameterType="org.cisiondata.modules.datainterface.entity.AccessUser">
    	update T_ACCESS_USER set DELETE_FLAG=#{deleteFlag} where ACCESS_ID=#{accessId}
    </update>

</mapper>