<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.datainterface.dao.AccessUserInterfaceMoneyDao">

	<resultMap type="org.cisiondata.modules.datainterface.entity.AccessUserInterfaceMoney" id="AccessUserInterfaceMoneyResultMap">  
        <result property="id" column="ID"/>
        <result property="userInterfaceId" column="USER_INTERFACE_ID"/>
        <result property="responseCode" column="RESPONSE_CODE"/> 
        <result property="money" column="MONEY"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
    </resultMap>
    
	<!-- 查看 -->
    <select id="findAccessUserInterfaceMoney" resultMap="AccessUserInterfaceMoneyResultMap">
    	select * from T_ACCESS_USER_INTERFACE_MONEY where  USER_INTERFACE_ID =#{userInterfaceId}
    </select>
	
	<!-- 查看校验 -->
    <select id="findAccessUserInterfaceMoneyByID" resultMap="AccessUserInterfaceMoneyResultMap">
    	select * from T_ACCESS_USER_INTERFACE_MONEY where USER_INTERFACE_ID=#{userInterfaceId} AND RESPONSE_CODE =#{responseCode}
    </select>
    
	<!-- 修改 -->
    <update id="updateAccessUserInterfaceMoney">
    	update T_ACCESS_USER_INTERFACE_MONEY set RESPONSE_CODE=#{2},MONEY=#{3} where  ID=#{0} AND USER_INTERFACE_ID =#{1}
    </update>

	<!-- 增加 -->
	<insert id="addAccessUserInterfaceMoney" parameterType="org.cisiondata.modules.datainterface.entity.AccessUserInterfaceMoney">
    	insert into T_ACCESS_USER_INTERFACE_MONEY (USER_INTERFACE_ID,RESPONSE_CODE,MONEY,DELETE_FLAG)
    	values (#{userInterfaceId},#{responseCode},#{money},#{deleteFlag})
    </insert>
    <!-- 删除标示 -->
    <update id="deleteAccessUserInterfaceMoney">
    	update T_ACCESS_USER_INTERFACE_MONEY set DELETE_FLAG=#{2} where  USER_INTERFACE_ID=#{0} AND RESPONSE_CODE =#{1}
    </update>
</mapper>