<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.analysis.dao.EventExtendDAO">
	<!--EventExtend实体映射-->
	<resultMap type="org.cisiondata.modules.analysis.entity.EventExtend" id="eventBaseResultMap">
       <result column="event_extend_id" property="eventId" />
		<result column="extend_info1" property="extendInfo1" />
		<result column="extend_info2" property="extendInfo2" />
		<result column="extend_info3" property="extendInfo3" />
		<result column="extend_info4" property="extendInfo4" />
		<result column="extend_info5" property="extendInfo5" />
		<result column="extend_base_id" property="eventBaseid" />
    </resultMap>
    <!--base  -->
    <resultMap type="org.cisiondata.modules.analysis.entity.EventBase" id="eventBaseMap">
		<result column="event_id" property="eventId" />
		<result column="event_name" property="eventName" />
		<result column="event_time" property="eventTime" javaType="java.util.Date" />
		<result column="event_info" property="eventInfo" />
	</resultMap>
    
     <select id="readEventInfo" parameterType="String" resultMap="eventBaseResultMap">  
    	SELECT e2.extend_info1,event_extend_id FROM T_EVENT_BASE e1,T_EVENT_EXTEND e2 WHERE e1.event_id=e2.extend_base_id AND e1.event_name=#{0};
    </select>
     <!-- 写入操作 -->
     <update id="Updata">
     	update T_EVENT_EXTEND set extend_info2=#{0} where event_extend_id=#{1};
     </update>
     <!-- 查询xlsID -->
     <select id="findbaseID" parameterType="String" resultType="int">
     	select event_id from T_EVENT_BASE where event_name=#{event_name};
     </select>
     <!--查询数据  -->
     <select id="readall" parameterType="int" resultMap="eventBaseResultMap">
     	select extend_info2 from T_EVENT_EXTEND where extend_base_id=#{extend_base_id};
     </select>
     <!-- 修改状态 -->
     <update id="codes">
     	UPDATE  T_EVENT_EXTEND set DELETE_FLAG=1 where extend_base_id=#{0};
     </update>
     
</mapper>