<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.user.dao.APermissionDao">

	<resultMap type="org.cisiondata.modules.user.entity.APermission" id="APermissionModelMap">
		<id column="ID" property="id"/>
		<result column="AUTH_STATUS" property="authStatus"/>
		<result column="EXTEND_STATUS" property="extendStatus"/>
		<result column="PRINCIPAL_ID" property="principalId"/>
		<result column="PRINCIPAL_TYPE" property="principalType"/>
		<result column="RESOURCE_ID" property="resourceId"/>
	</resultMap>
	
	<select id="findByPrincipalTypeAndPrincipalId" parameterType="org.cisiondata.modules.user.entity.APermission" resultMap="APermissionModelMap">
		select ID,AUTH_STATUS,EXTEND_STATUS,PRINCIPAL_ID,PRINCIPAL_TYPE,RESOURCE_ID from T_PERMISSION where PRINCIPAL_ID=#{principalId} and PRINCIPAL_TYPE=#{principalType}
	</select>
	
	<select id="findPermission" parameterType="org.cisiondata.modules.user.entity.APermission" resultMap="APermissionModelMap">
		select ID,AUTH_STATUS,EXTEND_STATUS,PRINCIPAL_ID,PRINCIPAL_TYPE,RESOURCE_ID from T_PERMISSION where PRINCIPAL_ID=#{principalId} and PRINCIPAL_TYPE=#{principalType} and RESOURCE_ID=#{resourceId}
	</select>
	
	<delete id="deleteByPrincipalTypeAndPrincipalId" parameterType="org.cisiondata.modules.user.entity.APermission">
		delete from T_PERMISSION where PRINCIPAL_ID=#{principalId} and PRINCIPAL_TYPE=#{principalType}
	</delete>
	
	
	<insert id="addPermission" parameterType="org.cisiondata.modules.user.entity.APermission">
		insert into T_PERMISSION (AUTH_STATUS,EXTEND_STATUS,PRINCIPAL_ID,PRINCIPAL_TYPE,RESOURCE_ID)
		values (#{authStatus},#{extendStatus},#{principalId},#{principalType},#{resourceId})
	</insert>
	
	<update id="updatePermission" parameterType="org.cisiondata.modules.user.entity.APermission">
		update T_PERMISSION set AUTH_STATUS=#{authStatus} where PRINCIPAL_ID=#{principalId} and PRINCIPAL_TYPE=#{principalType} and RESOURCE_ID=#{resourceId}
	</update>
</mapper>