<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.user.dao.AUserDao">

	<resultMap type="org.cisiondata.modules.user.entity.AUser" id="AUserModelMap">
		<id property="id" column="ID"/>
		<result column="ACCOUNT" property="account"/>
		<result column="PASSWORD" property="password"/>
		<result column="IDENTITY" property="identity"/>
		<result column="NICK_NAME" property="nickname"/>
		<result column="EMAIL" property="email"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="EXPIRE_TIME" property="expireTime"/>
		<result column="DELETE_FLAG" property="deleteFlag"/>
		<association property="accessUserControl" javaType="org.cisiondata.modules.datainterface.entity.AccessUserControl">
            <result property="account" column="ACCOUNT1"/>
            <result property="interfaceUrl" column="INTERFACE_URL"/>
            <result property="count" column="COUNT"/>
            <result property="remainingCount" column="REMAINING_COUNT"/>
            <result property="deleteFlag" column="DELETE_FLAG1"/>
         </association>
	</resultMap>
	<resultMap type="org.cisiondata.modules.user.entity.AUserAGroup" id="AUserAGroupModelMap">
		<id property="id" column="ID"/>
		<result column="USER_ID" property="auser"/>
		<result column="GROUP_ID" property="agroup"/>
		<result column="PRIORITY" property="priority"/>
	</resultMap>
	<resultMap type="org.cisiondata.modules.user.entity.AUserARole" id="AUserARoleModelMap">
		<id property="id" column="ID"/>
		<result column="USER_ID" property="auser"/>
		<result column="ROLE_ID" property="arole"/>
		<result column="PRIORITY" property="priority"/>
	</resultMap>
	<!-- 增加 -->
	<insert id="addAUser" parameterType="org.cisiondata.modules.user.entity.AUser">
		insert into T_USER(ACCOUNT,PASSWORD,IDENTITY,NICK_NAME,EMAIL,STATUS,CREATE_TIME,EXPIRE_TIME,DELETE_FLAG) 
		value (#{account},#{password},#{identity},#{nickname},#{email},#{status},#{createTime},#{expireTime},#{deleteFlag})
	</insert>
	
	<!-- 查询全部 -->
	<select id="findAllAUser" resultMap="AUserModelMap">
		select ID,ACCOUNT,IDENTITY,NICK_NAME,EMAIL,STATUS,CREATE_TIME,EXPIRE_TIME,DELETE_FLAG  from T_USER ORDER BY ID
	</select>
	<!-- 分页查询 -->
	<select id="findAUserByPage" resultMap="AUserModelMap">
		select t1.ID ID,t1.ACCOUNT ACCOUNT,t1.IDENTITY IDENTITY,t1.NICK_NAME NICK_NAME,t1.EMAIL EMAIL,t1.STATUS STATUS,t1.CREATE_TIME CREATE_TIME,
		t1.EXPIRE_TIME EXPIRE_TIME,t1.DELETE_FLAG DELETE_FLAG,t2.ACCOUNT ACCOUNT1,t2.INTERFACE_URL INTERFACE_URL,
		t2.COUNT COUNT,t2.REMAINING_COUNT REMAINING_COUNT,t2.DELETE_FLAG DELETE_FLAG1
		from T_USER t1 LEFT JOIN T_ACCESS_USER_CONTROL t2 ON t1.ACCOUNT=t2.ACCOUNT AND t2.DELETE_FLAG=0
		ORDER BY t1.ID LIMIT #{0},#{1}
	</select>
	<!-- 根据账号查询 -->
	<select id="findAuser" resultMap="AUserModelMap">
		select t1.ID ID,t1.ACCOUNT ACCOUNT,t1.IDENTITY IDENTITY,t1.NICK_NAME NICK_NAME,t1.EMAIL EMAIL,t1.STATUS STATUS,t1.CREATE_TIME CREATE_TIME,
		t1.EXPIRE_TIME EXPIRE_TIME,t1.DELETE_FLAG DELETE_FLAG,t2.ACCOUNT ACCOUNT1,t2.INTERFACE_URL INTERFACE_URL,
		t2.COUNT COUNT,t2.REMAINING_COUNT REMAINING_COUNT,t2.DELETE_FLAG DELETE_FLAG1
		from T_USER t1 LEFT JOIN T_ACCESS_USER_CONTROL t2 ON t1.ACCOUNT=t2.ACCOUNT AND t2.DELETE_FLAG=0
		WHERE t1.ACCOUNT = #{account}
	</select> 
	<!-- 根据ID查询 -->
	<select id="findAuserByID" resultMap="AUserModelMap">
		select ID,ACCOUNT,IDENTITY,NICK_NAME,EMAIL,STATUS,CREATE_TIME,EXPIRE_TIME,DELETE_FLAG  from T_USER WHERE ID = #{id}
	</select> 
	<!-- 根据id更改DELETE_FLAG状态 -->
	<update id="deleteAUser" parameterType="long">
		update  T_USER SET DELETE_FLAG = "1" where ID=#{id}
	</update>
	<!-- 根据ID更新-->
	<update id="updateAUser" parameterType="org.cisiondata.modules.user.entity.AUser"> 
		update  T_USER SET ACCOUNT=#{account},PASSWORD=#{password},IDENTITY=#{identity},NICK_NAME=#{nickname},EMAIL=#{email},STATUS=#{status},EXPIRE_TIME=#{expireTime} WHERE ID=#{id}
	</update> 
	<!-- 插入用户与组的关系-->
	<insert id="insertgroup" parameterType="org.cisiondata.modules.user.entity.AUserAGroup">
		insert into  T_USER_GROUP(USER_ID,GROUP_ID,PRIORITY) value (#{auser},#{agroup},"3") 
	</insert>
	<!-- 插入用户与角色的关系-->
	<insert id="insertrole" parameterType="org.cisiondata.modules.user.entity.AUserARole">
		insert into  T_USER_ROLE(USER_ID,Role_ID,PRIORITY) value (#{auser},#{arole},"3") 
	</insert>
	<!-- 查询用户与组的关系-->
	<select id="findgroupuser" resultMap="AUserAGroupModelMap">
		select * from   T_USER_GROUP where USER_ID=#{userid}
	</select>
	<!-- 查询用户与角色的关系-->
	<select id="findroleuser" resultMap="AUserARoleModelMap">
		select * from   T_USER_ROLE where USER_ID=#{userid}
	</select>
	<!-- 删除用户与组的关系-->
	<delete id="deletegroupuser" parameterType="long">
		delete  from  T_USER_GROUP where USER_ID=#{0} and GROUP_ID=#{1}
	</delete>
	<!-- 删除用户与角色的关系-->
	<delete id="deleteroleuser" parameterType="long">
		delete  from   T_USER_ROLE where USER_ID=#{0} and ROLE_ID=#{1}
	</delete>
</mapper>