<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.user.dao.RoleDAO">

	<resultMap type="org.cisiondata.modules.user.entity.RoleUser" id="roleResultMap">  
        <id property="Roleid" column="ID"/>  
        <result property="name" column="NAME"/>
        <result property="identity" column="IDENTITY"/> 
        <result property="desc" column="DESCRIPTION"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
    </resultMap>
    <!-- 中间表 -->
    <resultMap type="org.cisiondata.modules.user.entity.AUserARole" id="roleuserMap">
    	<result property="auser" column="USER_ID"/>
    	<result property="arole" column="ROLE_ID"/>
    	<result property="priority" column="PRIORITY"/>
    </resultMap>
        
    <select id="readDataLsitroleid" parameterType="long" resultMap="roleResultMap">
    		select ID,NAME,IDENTITY,DESCRIPTION,DELETE_FLAG from T_ROLE
    </select>
    <!-- 根据ID查询 -->
    <select id="readDataCertain" parameterType="long" resultMap="roleResultMap">
    		select NAME,IDENTITY,DESCRIPTION from  T_ROLE where ID=#{id} 
    </select>
    <!--根据ID修改  -->
    <update id="readUpdata" parameterType="org.cisiondata.modules.user.entity.RoleUser">
    	UPDATE  T_ROLE SET NAME=#{name},IDENTITY=#{identity},DESCRIPTION=#{desc} where ID=#{Roleid} AND DELETE_FLAG=0
    </update>
    <!-- 刪除用戶外鍵表 -->
    <delete id="readuserDelet">
    	delete from T_USER_ROLE where ROLE_ID=#{id} 
    </delete>
    <!-- 刪除組外鍵 -->
    <delete id="readgroupdelet">
       delete from T_GROUP_ROLE where ROLE_ID=#{id}
    </delete>
    <!-- 刪除本表的數據 -->
    <delete id="readDelet">
    	delete from T_ROLE where ID=#{id}
    </delete>
    <!-- 新增 -->
    <insert id="addedRole" parameterType="org.cisiondata.modules.user.entity.RoleUser">
    	insert into T_ROLE(NAME,IDENTITY,DESCRIPTION,DELETE_FLAG) value(#{name},#{identity},#{desc},0)
    </insert>
    
    <!-- 新增中间表 -->
    <insert id="roleuserID" parameterType="org.cisiondata.modules.user.entity.AUserARole">
    	insert into T_USER_ROLE(USER_ID,ROLE_ID,PRIORITY) values (#{auser},#{arole},1)
    </insert>
    <!-- 验证唯一性 -->
    <select id="selectName" parameterType="String" resultType="int">
    	SELECT COUNT(*) FROM T_ROLE WHERE NAME = #{0}
    </select>
    <!-- 查询符合的数据ID值 -->
    <select id="findID" parameterType="org.cisiondata.modules.user.entity.AUserARole" resultType="int">
    	select COUNT(*) from T_USER_ROLE where ROLE_ID=#{arole} and USER_ID=#{auser};
    </select>
    <!-- 存在的就修改 -->
    <update id="modify"  parameterType="org.cisiondata.modules.user.entity.AUserARole" >
    	update T_USER_ROLE set USER_ID=#{auser},ROLE_ID=#{arole},PRIORITY='1' where USER_ID=#{auser} and ROLE_ID=#{arole}; 
    </update>
    
    <delete id="Delet" parameterType="org.cisiondata.modules.user.entity.AUserARole">
    	delete from T_USER_ROLE where USER_ID=#{auser} and ROLE_ID=#{arole};
    </delete>
    
</mapper>