<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.admin.auth.dao.RoleDAO">

	<resultMap type="org.cisiondata.modules.admin.auth.entity.RoleUser" id="roleResultMap">  
        <id property="Roleid" column="ID"/>  
        <result property="name" column="NAME"/>
        <result property="identity" column="IDENTITY"/> 
        <result property="desc" column="DESCRIPTION"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
    </resultMap>
    
    <select id="readDataLsitroleid" parameterType="long" resultMap="roleResultMap">
    		select ID,NAME,IDENTITY,DESCRIPTION,DELETE_FLAG from T_ROLE
    </select>
    <!-- 根据ID查询 -->
    <select id="readDataCertain" parameterType="long" resultMap="roleResultMap">
    		select NAME,IDENTITY,DESCRIPTION from  T_ROLE where ID=#{id} 
    </select>
    <!--根据ID修改  -->
    <update id="readUpdata" parameterType="org.cisiondata.modules.admin.auth.entity.RoleUser">
    	UPDATE  T_ROLE SET NAME=#{name},IDENTITY=#{identity},DESCRIPTION=#{desc} where ID=#{Roleid} AND DELETE_FLAG=0
    </update>
</mapper>