<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.system.dao.UserResourceAttributeDAO">

	<resultMap type="org.cisiondata.modules.auth.entity.UserResourceAttribute" id="AUserResourceAttributeModelMap">
		<id property="id" column="ID"/>
		<result column="USER_RESOURCE_ID" property="userResourceId"/>
		<result column="KEY" property="key"/>
		<result column="VALUE" property="value"/>
		<result column="TYPE" property="type"/>
	</resultMap>
	
	<!-- 查询 -->
	<select id="findByCondition" parameterType="map" resultMap="AUserResourceAttributeModelMap">
		select * from T_USER_RESOURCE_ATTRIBUTE 
		<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="userResourceId != null">and USER_RESOURCE_ID=#{userResourceId}</if>
    		<if test="key != null and key != ''">and `KEY`=#{key}</if>
    		<if test="value != null and vlue != ''">and `VALUE`=#{value}</if>
    		<if test="type != null and type != ''">and TYPE=#{type}</if>
    	</where>
    	<if test="orderBy != null and orderBy !=''">
    		order by ${orderBy}
    	</if>
    	<if test="begin != null and pageSize != null">
    		limit #{begin},#{pageSize}
    	</if>
	</select>
	
	<!-- 查询总条数 -->
	<select id="findCountByCondition" parameterType="map">
		select COUNT(ID) from T_USER_RESOURCE_ATTRIBUTE
		<where>
    		<if test="id != null">ID=#{id}</if>
    		<if test="userResourceId != null">and USER_RESOURCE_ID=#{userResourceId}</if>
    		<if test="key != null and key != ''">and `KEY`=#{key}</if>
    		<if test="value != null and vlue != ''">and `VALUE`=#{value}</if>
    		<if test="type != null and type != ''">and TYPE=#{type}</if>
    	</where>
	</select>
	
	<!-- 根据id修改 -->
	<update id="updateUserResourceAttributeById" parameterType="org.cisiondata.modules.auth.entity.UserResourceAttribute">
	   	update T_USER_RESOURCE_ATTRIBUTE 
   		<set>
   			<if test="userResourceId != null">USER_RESOURCE_ID=#{userResourceId},</if>
    		<if test="key != null and key != ''">`KEY`=#{key},</if>
    		<if test="value != null and vlue != ''">`VALUE`=#{value},</if>
    		<if test="type != null and type != ''">TYPE=#{type}</if>
   		</set>
	   	WHERE ID=#{id}
	</update>
	
	<!-- 新增，新增成功后返回id值 -->
	<insert id="addUserResourceAttribute" parameterType="org.cisiondata.modules.auth.entity.UserResourceAttribute" useGeneratedKeys="true" keyProperty="id">
		insert into T_USER_RESOURCE_ATTRIBUTE
		(USER_RESOURCE_ID,`KEY`,`VALUE`,TYPE)
		values
		(#{userResourceId},#{key},#{value},#{type})
	</insert>
	
</mapper>