<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.system.dao.AAccessUserControlDao">

	<resultMap type="org.cisiondata.modules.system.entity.AAccessUserControl" id="AAccessControlResultMap">  
        <result property="account" column="ACCOUNT"/>
        <result property="interfaceUrl" column="INTERFACE_URL"/> 
        <result property="count" column="COUNT"/> 
        <result property="remainingCount" column="REMAINING_COUNT"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
        <result property="money" column="MONEY"/> 
        <result property="remainingMoney" column="REMAINING_MONEY"/> 
        <result property="resource" column="RESOURCE"/> 
        <result property="queryCount" column="QUERY_COUNT"/> 
    </resultMap>
    
    <update id="updateAccessControlByAccount" parameterType="org.cisiondata.modules.system.entity.AAccessUserControl">
    	update T_ACCESS_USER_CONTROL set REMAINING_COUNT=#{remainingCount} where ACCOUNT=#{account}
    </update>

    <select id="findAccessControlRemainingCount" resultType="long">
    		select REMAINING_COUNT from T_ACCESS_USER_CONTROL where ACCOUNT=#{account}
    </select>
    
	
</mapper>