<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.system.dao.ProvinceCityDao">

	<resultMap type="org.cisiondata.modules.system.entity.ProvinceCity" id="ProvinceCitylMap">
		<result column="PROVINCE" property="province"/>
		<result column="CITY" property="city"/>
		<result column="REGION_DNSEG" property="reginNum"/>
		<result column="OPERATOR" property="operator"/>
	</resultMap>
	
	<select id="findProvince" resultType="string">
		select distinct(PROVINCE) from T_PHONE_CODE order by PROVINCE
	</select>
	
	<select id="findCityByProvince" resultType="string">
		select distinct(CITY) from T_PHONE_CODE where PROVINCE=#{0} order by CITY
	</select>
	
	<select id="findCityByReginNum" resultType="string">
		select CITY from T_PHONE_CODE where REGION_DNSEG=#{0}
	</select>
	
</mapper>