<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.auth.dao.CompanyResourceDAO">

	<!-- 角色单位表 -->
	<resultMap type="AuthCompanyResource" id="companyResourceMap">
		<result property="id" column="ID" />
		<result property="companyId" column="COMPANY_ID" />
		<result property="resourceId" column="RESOURCE_ID" />
		<result property="priority" column="PRIORITY" />
		<result property="deleteFlag" column="DELETE_FLAG" />
	</resultMap>


	<sql id="columnClause">ID, COMPANY_ID, RESOURCE_ID, PRIORITY, DELETE_FLAG</sql>

	<sql id="whereClause">
		<where>
			<if test="id != null">
				AND ID = #{id}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID = #{companyId}
			</if>
			<if test="resourceId != null">
				AND RESOURCE_ID = #{resourceId}
			</if>
			<if test="priority != null">
				AND PRIORITY = #{priority}
			</if>
			<if test="deleteFlag != null">
				AND DELETE_FLAG = #{deleteFlag}
			</if>
		</where>
	</sql>

	<!--查询 -->
	<select id="readCompanyResource" parameterType="AuthCompanyResource"
		resultMap="companyResourceMap">
		SELECT
		<include refid="columnClause" />
		FROM T_COMPANY_RESOURCE
		<include refid="whereClause" />
	</select>
	<select id="judgeCompanyResourceLimit" resultMap="companyResourceMap">
		SELECT
		<include refid="columnClause" />
		FROM T_COMPANY_RESOURCE WHERE COMPANY_ID=#{companyId} AND
		DELETE_FLAG=0
	</select>
</mapper>