<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.auth.dao.RoleResourceDAO">

	<resultMap type="AuthRoleResource" id="roleResourceResultMap">  
        <id property="id" column="ID"/>  
        <result property="roleId" column="ROLE_ID"/>  
        <result property="resourceId" column="RESOURCE_ID"/>
        <result property="deleteFlag" column="DELETE_FLAG"/> 
    </resultMap>
    
    <sql id="columnClause">ID, ROLE_ID, RESOURCE_ID, DELETE_FLAG</sql>
    
    <sql id="whereClause">
    	<where>
    		<if test="condition.roleId != null">
    			AND ROLE_ID = #{condition.roleId}
    		</if>
    		<if test="condition.resourceId != null">
    			AND RESOURCE_ID = #{condition.resourceId}
    		</if>
    		<if test="condition.deleteFlag != null">
    			AND DELETE_FLAG = #{condition.deleteFlag}
    		</if>
    	</where>
    </sql>
    
     <insert id="insert" parameterType="AuthRoleResource">
            INSERT INTO T_ROLE_RESOURCE(ROLE_ID, RESOURCE_ID, DELETE_FLAG) 
            VALUES(#{USER_ID},#{RESOURCE_ID},#{DELETE_FLAG})  
    </insert>
    
    <select id="readDataByPK" resultMap="roleResourceResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_ROLE_RESOURCE WHERE ID = #{id}
    </select>
    
    <select id="readDataByCondition" resultMap="roleResourceResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_ROLE_RESOURCE
            <include refid="whereClause"/>
    </select>
    
    <select id="readDataListByCondition" resultMap="roleResourceResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_ROLE_RESOURCE
            <include refid="whereClause"/>
    </select>
    
    <select id="readDataPaginationByCondition" resultMap="roleResourceResultMap">  
        <![CDATA[ 
            SELECT * FROM T_ROLE_RESOURCE
        ]]>   
    </select>
    
</mapper>