<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.auth.dao.UserLogDAO">

    <select id="readByCount" resultType="int">
    	SELECT COUNT(*) FROM T_LOG WHERE account = #{0} and url = #{1} and  total!=0  and TO_DAYS(access_time) = TO_DAYS(NOW()) 
    </select>
    <select id="readCompanyLimit" resultType="map"> 
    select CT_COUNT as count,CT_ACCESS as access  from  T_COMPANY_LIMIT where COMPANY_ID=#{companyId}
    </select>
    <select id="readLogCount" resultType="map">
    SELECT COUNT(params) as count,SUM(total) as access FROM `T_LOG`  where to_days(access_time)=to_days(now()) and account=#{account} and total!=0 ;
    </select>
    <select id="readRoleLimit" resultType="map">
    select CT_ACCESS as access ,CT_COUNT as count from T_ROLE_LIMIT RIGHT JOIN	(SELECT role_id FROM `T_COMPANY_ROLE` where COMPANY_ID =#{companyId})a on T_ROLE_LIMIT.ROLE_ID=a.role_id where DELETE_FLAG=0
    </select>
    <select id="readRoleSpecialLimit" resultType="map">
    SELECT `value` from T_ROLE_RESOURCE_ATTRIBUTE where `KEY`='limit' and ROLE_RESOURCE_ID in( SELECT id from T_ROLE_RESOURCE where ROLE_ID in (SELECT role_id FROM `T_COMPANY_ROLE` where COMPANY_ID =#{companyId}) and DELETE_FLAG=0 and RESOURCE_ID in (SELECT ID  from T_RESOURCE where url=#{url} and type=3))
    </select>
  <!--新的查询 -->
   
   <select id="readCompanyRoleId" resultType="Long">
   SELECT a.ROLE_ID from (SELECT ROLE_ID FROM `T_COMPANY_ROLE` where COMPANY_ID=#{companyId})a LEFT JOIN (SELECT * from T_ROLE where DELETE_FLAG=0)b on a.ROLE_ID=b.id where b.id is not null;
    </select>
    
    <select id="judgeCompanyLimit" resultType="map">
  	select * from T_COMPANY_RESOURCE where COMPANY_ID=#{companyId} AND DELETE_FLAG=0;
  </select>
   	<select id="readCompanyUrlLimit" resultType="map">
   	SELECT `VALUE` as count from T_COMPANY_RESOURCE_ATTRIBUTE where `key`='limit' and COMPANY_RESOURCE_ID in (	SELECT id from T_COMPANY_RESOURCE	where COMPANY_ID= #{companyId} and RESOURCE_ID in(SELECT id FROM `T_RESOURCE` where URL=#{url}));
   	</select>
  	
  	
    
    <select id="readCurrentAccess" resultType="map">
     SELECT  QUERY_COUNT as count ,QUERY_ITEMS as access FROM `T_ACCESS_LIMIT` where OBJECT_TYPE=#{type} and RESOURCE_URL is null and OBJECT_ID=#{typeId} AND TO_DAYS(DATE) = TO_DAYS(NOW());
    </select>
    <select id="readCurrentUrlAccess" resultType="Integer">
    SELECT QUERY_COUNT as count  FROM `T_ACCESS_LIMIT` where OBJECT_TYPE=#{type}  and OBJECT_ID=#{typeId} and RESOURCE_URL =#{url} AND TO_DAYS(DATE) = TO_DAYS(NOW());
    </select>
    
    <select id="readAllCompanyId" resultType="Long">
    select  ID from  T_COMPANY
    </select>
    <select id="readAllRoleId" resultType="map">
    select COMPANY_ID as companyId, ROLE_ID as roleId from  T_COMPANY_ROLE where PRIORITY=3
    </select>
    
    
    
    <update id="updateAccess">
    update T_ACCESS_LIMIT set QUERY_COUNT =#{count} ,QUERY_ITEMS=#{access} where OBJECT_TYPE=#{type} and OBJECT_ID=2 AND TO_DAYS(DATE) = TO_DAYS(NOW())-1 and RESOURCE_URL is  null ;
    </update>
    
   
 
</mapper>