.styleThead{
	text-align: center;
	font-weight: bolder;
}
.Tbody{
	text-align: center;
}
#startData{
	width: 150px;
}
.styleTop{
	margin-top: 20px;
	margin-bottom: 20px;
}
#endData{
	width: 150px;
}
.styleTopLeft{
	padding-left: 60px;
}
.styleBtn{
	height: 30px;
	text-align: center;
}
#lightone {
	display: none;
	position: absolute;
	top: 25%;
	left: 20%;
	width: 50%;
	height: 70%;
	padding: 16px;
	border: 5px solid orange;
	border-radius: 10px;
	background-color: white;
	z-index: 1002;
	overflow-y: auto;
}
#lightone table{
	text-align: center;
}