<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cisiondata.modules.datainterface.dao.CityCodeDAO">

	<resultMap type="org.cisiondata.modules.datainterface.entity.CityCode" id="cityCodeMap">
		<id property="id" column="id"/>  
		<result column="CODE" property="code"/>
		<result column="CITY" property="city"/>
	</resultMap>
	
	<!-- 查询 -->
	<select id="findCityByCode" resultMap="cityCodeMap">
		select * from T_CITY_CODE
	</select>
	
</mapper>