<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.authentication.dao.UserDAO">

	<resultMap type="User" id="userResultMap">  
        <id property="id" column="ID"/>  
        <result property="account" column="ACCOUNT"/>
        <result property="password" column="PASSWORD"/>  
        <result property="identity" column="IDENTITY"/> 
        <result property="nickname" column="NICK_NAME"/> 
        <result property="email" column="EMAIL"/> 
        <result property="status" column="STATUS"/> 
        <result property="createTime" column="CREATE_TIME"/> 
        <result property="expireTime" column="EXPIRE_TIME"/> 
        <result property="deleteFlag" column="DELETE_FLAG"/> 
    </resultMap>
    
    <sql id="columnClause">ID, ACCOUNT, PASSWORD, IDENTITY, NICK_NAME, EMAIL, STATUS, CREATE_TIME, EXPIRE_TIME, DELETE_FLAG</sql>
    
    <sql id="whereClause">
    	<where>
    		<if test="condition.account != null and condition.account != ''">
    			AND ACCOUNT = #{condition.account}
    		</if>
    		<if test="condition.password != null and condition.password != ''">
    			AND PASSWORD = #{condition.password}
    		</if>
    		<if test="condition.nickname != null and condition.nickname != ''">
    			AND NICK_NAME = #{condition.nickname}
    		</if>
    		<if test="condition.expireTime != null and condition.expireTime != ''">
    			AND EXPIRE_TIME = #{condition.expireTime}
    		</if>
    		<if test="condition.status != null">
    			AND STATUS = #{condition.status}
    		</if>
    		<if test="condition.deleteFlag != null">
    			AND DELETE_FLAG = #{condition.deleteFlag}
    		</if>
    	</where>
    </sql>
    
     <insert id="insert" parameterType="User">
            INSERT INTO T_USER(ACCOUNT, PASSWORD, IDENTITY, NICK_NAME, EMAIL, CREATE_TIME, EXPIRE_TIME, DELETE_FLAG) 
            VALUES(#{account},#{password},#{identity},#{nickName},#{insertTime})  
    </insert>
    
    <select id="readDataByPK" resultMap="userResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_USER WHERE ID = #{id}
    </select>
    
    <select id="readDataByCondition" resultMap="userResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_USER
            <include refid="whereClause"/>
    </select>
    
    <select id="readDataListByCondition" resultMap="userResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_USER
            <include refid="whereClause"/>
    </select>
    
    <select id="readDataPaginationByCondition" resultMap="userResultMap">  
        <![CDATA[ 
            SELECT * FROM T_USER
        ]]>   
    </select>
    
</mapper>