<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.authentication.dao.UserOnlineDAO">

	<resultMap type="UserOnline" id="userOnlineResultMap">  
        <id property="id" column="ID"/>  
        <result property="sessionId" column="SESSION_ID"/>
        <result property="userId" column="USER_ID"/>  
        <result property="username" column="USER_NAME"/> 
        <result property="host" column="HOST"/> 
        <result property="systemHost" column="SYSTEM_HOST"/> 
        <result property="userAgent" column="USER_AGENT"/> 
        <result property="status" column="STATUS"/> 
        <result property="startTime" column="START_TIME"/> 
        <result property="lastAccessTime" column="LAST_ACCESS_TIME"/> 
        <result property="timeout" column="TIMEOUT"/> 
    </resultMap>
    
    <sql id="columnClause">ID, SESSION_ID, USER_ID, USER_NAME, HOST, SYSTEM_HOST, USER_AGENT, STATUS, START_TIME, LAST_ACCESS_TIME, TIMEOUT</sql>
    
    <sql id="whereClause">
    	<where>
    		<if test="condition.sessionId != null and condition.sessionId != ''">
    			AND SESSION_ID = #{condition.sessionId}
    		</if>
    		<if test="condition.userId != null and condition.userId != ''">
    			AND USER_ID = #{condition.password}
    		</if>
    		
    	</where>
    </sql>
    
     <insert id="insert" parameterType="UserOnline">
            INSERT INTO T_USER_ONLINE(SESSION_ID, USER_ID, USER_NAME, HOST, SYSTEM_HOST, USER_AGENT, STATUS, START_TIME, LAST_ACCESS_TIME, TIMEOUT) 
            VALUES(#{sessionId},#{userId},#{userName},#{host},#{systemHost},#{userAgent},#{status},#{startTime},#{lastAccessTime},#{timeout})  
    </insert>
    
    <select id="readDataByPK" resultMap="userOnlineResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_USER_ONLINE WHERE ID = #{id}
    </select>
    
    <select id="readDataByCondition" resultMap="userOnlineResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_USER_ONLINE
            <include refid="whereClause"/>
    </select>
    
    <select id="readDataListByCondition" resultMap="userOnlineResultMap">  
            SELECT 
            <include refid="columnClause"/>
            FROM T_USER_ONLINE
            <include refid="whereClause"/>
    </select>
    
    <select id="readDataPaginationByCondition" resultMap="userOnlineResultMap">  
        <![CDATA[ 
            SELECT * FROM T_USER_ONLINE
        ]]>   
    </select>
    
</mapper>